{% extends 'master.html' %}

{% block title %}Parking Monitors{% endblock %}

{% block main %}
<script type="text/javascript">
	var displayElement = document.getElementById("display");
    var searchNearMeButton = document.getElementById("search-near-me-button");


	function setPosition() {
		if (navigator && navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(assignPositionToForm);
            searchNearMeButton.disabled = false;
		}
		else {
			displayElement.innerHTML = "Geolocation is not supported by this browser.";
            searchNearMeButton.disabled = true;
		}
	}
	function assignPositionToForm(position) {
		document.getElementById("latitude").value = position.coords.latitude;
		document.getElementById("longitude").value = position.coords.longitude;
	}
	
    $(document).ready(documentReady);

    function documentReady() {
       setPosition();
    }
</script>
<h1>Parking Monitors</h1>
<form method="post">
    {% csrf_token %}
    <p id="display" class="text-danger"></p>
    <input type="hidden" name="latitude" id="latitude"/>
    <input type="hidden" name="longitude" id="longitude"/>
    <button type="submit" id="search-near-me-button" class="btn btn-primary">Search Near Me</button>
</form>

<p id="mydesc">Parking Monitors</p>
<table class="table table-striped" aria-describedby="mydesc">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Hours</th>
            <th>Is Paid Parking</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Availible Parking Probability</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for parking_monitor in parking_lot_monitors %}
        <tr>
            <td><a href="{% url 'parking-lot-monitor' parking_monitor.id %}">{{ parking_monitor.name }}</a></td>
            <td>{{ parking_monitor.parkingLot.address }}</td>
            <td>{{ parking_monitor.parkingLot.hours }}</td>
            <td>{{ parking_monitor.parkingLot.isPaidParking }}</td>
            <td>{{ parking_monitor.latitude }}</td>
            <td>{{ parking_monitor.longitude }}</td>
            <td>{{ parking_monitor.probabilityParkingAvailable }}</td>
            <td>{{ parking_monitor.dateTimeLastUpdated }}</td>
        {% endfor %}
    </tbody>

{% endblock %}
