{% extends 'master.html' %}
{% block title %}{{parking_lot_monitor.name}}{% endblock %}

{% block main %}
<h1>{{parking_lot_monitor.name}}</h1>
<div class="row">
    <div class="col-md-6">
        <h2>Parking</h2>
        <dl class="dl-horizontal">
            <dt>Free Spaces</dt>
            <dd>{{parking_lot_monitor.free_parking_spaces}}</dd>
            <dt>Total Spaces</dt>
            <dd>{{parking_lot_monitor.parkingLot.parking_spaces}}</dd>
            <dt>Vacancy Rate (%)</dt>
            <dd>{{parking_lot_monitor.get_vacancy_rate}}</dd>
            <dt>Last Updated</dt>
            <dd>{{parking_lot_monitor.dateTimeLastUpdated}}</dd>
        </dl>
        <h2>Details</h2>
        <dl class="dl-horizontal">
            <dt>Address</dt>
            <dd>{{parking_lot_monitor.parkingLot.address}}</dd>
            <dt>Hours</dt>
            <dd>{{parking_lot_monitor.parkingLot.hours}}</dd>
        </dl>
    </div>
    <div class="col-md-6">
        <h2>Map</h2>
        <div id="map" class="mapouter">
            <div class="gmap_canvas">
                <iframe title="map" width="600" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q={{parking_lot_monitor.latitude}},{{parking_lot_monitor.longitude}}&z=17&ie=UTF8&output=embed">
                </iframe>

                <br />
                <style>.mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 600px;
                }</style>
                <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                <style>.gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 600px;
                }</style>
            </div>
        </div>
        <h2>Image</h2>
        <div class="row">
            <img src="{{parking_lot_monitor.image.url}}" class="img-responsive" alt="Responsive image"/>
        </div>
    </div>
{% endblock main %}
